
body {
  height: 100%;
  text-align: center;
  scroll-behavior: smooth;
}

nav {
  display: inherit;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
}

header {
  margin-top: 10rem;
}

iframe {
  max-width: 100vw;
  max-height: 56.25vw;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background: lightgrey;
  flex-wrap: wrap;
}

nav > ul > li {
  justify-content: center;
  align-items: center;
  background: lightpink;
  padding: 0;
  margin: 5px;
  align-items: center;
  display: inherit;
}

nav > ul > li > a {
  align-self: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 15px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.filler {
  flex-grow: 10;
  background: rgba(0, 0, 0, 0.0);
}

form > ul {
  list-style-type: none;
}

#nav-icon {
  display: none;
}

@media (max-width: 700px) {
  nav > ul > li {
    display: none;
    text-align: center;
    width: 100%;
    text-align: center;
  }

  #nav-icon {
    display: inherit;
  }
  .filler {
    display: none !important
  }
  .product-list {
    display: grid;
    border: solid;
    grid-row: auto;
    list-style-type: none;
    justify-content: center;
    padding: 0 auto;
    margin: 0 auto;
  }
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: solid;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.product-list > li {
  border: thin solid black;
  margin: 1em auto;
  padding: 0 auto;
}

.product-list > li > a {
  display: inline-block;
  padding: 5em;
  text-decoration: none;
}

.fade-in {
  animation: fade-animation 0.25s ease-in;
}

@keyframes fade-animation {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
