
body {
  height: 100%;
  text-align: center;
}

nav {
  display: inherit;
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background: lightgrey;
  flex-wrap: wrap;
}

nav > ul > li {
  background: lightpink;
  padding: 0px;
  margin: 5px;
  align-items: center;
}

nav > ul > li > a {
  align-self: center;
  text-decoration: none;
  color: black;
  display: block;
  padding: 15px;
  width: 100%;
}

.filler {
  flex-grow: 10;
  background: rgba(0, 0, 0, 0.0);
}

form > ul {
  list-style-type: none;
}

#nav-icon {
  display: none;
}

@media (max-width: 700px) {
  nav > ul > li {
    display: none;
    text-align: center;
    width: 100%;
    text-align: center;
    align-items:
  }
  #nav-icon {
    display: inherit;
  }
  .filler {
    display: none !important
  }
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
